*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.grocery-bud{
  width: 60%;
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:12px;
  box-shadow: 0 0 5px rgb(209, 207, 207);
}

.listitem{
  width: 100%;
  padding: 20px;
 

}
input{
  padding:3px;
  

}
.add-item-wrapper{
  width: 80%;
}
.add-item{
  width: 90%;
}
.item{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content:space-between ;
  padding:15px;
  box-shadow: 2px 2px 5px rgb(102, 139, 173);
 
 
}
button{
  padding:5px;
  border: none;
  color:white;
  background-color: rgb(61, 119, 212);

}
.delete-btn{
  padding:5px;
  border: none;
  color:white;
  background-color: rgb(113, 117, 119);

}



@media (max-width:500px) {
  .grocery-bud{
    width: 100%;
  }
}
